network:
  version: 2
  renderer: networkd
  ethernets:
    {{ interface_name }}:
      dhcp4: no
      addresses: [ "{{ serverip }}/24" ]
      gateway4: "{{ gateway }}"
      nameservers:
        addresses: {{ nameservers | default(['8.8.8.8','8.8.4.4']) }}
